apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: portfolio
resources:
  - ../../base/namespace.yaml
  - ../../base/configmap.yaml
  - ../../base/secret-example.yaml
  - ../../base/pvc-chroma.yaml
  - ../../base/deployment-api.yaml
  - ../../base/service-api.yaml
  - ../../base/deployment-ui.yaml
  - ../../base/service-ui.yaml
  - ../../base/ingress.yaml
patches:
  - target:
      kind: ConfigMap
      name: portfolio-config
    patch: |-
      - op: replace
        path: /data/LLM_ENGINE
        value: "local"
      - op: replace
        path: /data/LLM_MODEL
        value: "Qwen/Qwen2.5-1.5B-Instruct"