apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: cloudflared
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
      - args:
        - tunnel
        - run
        - --token
        - eyJhIjoiMjFhNWIyNzhmOGU1NTA2NzhlMGIyYThjNmZiNWE5M2EiLCJ0IjoiZDA3MDlhYmMtY2JkNi00NmJhLTkwNDctOGE4MWIyODU5MDE0IiwicyI6IlpUTTJORGczTURndFpUQm1ZeTAwTldNMExUZ3lOemt0Tm1ZM056a3hZVE0wTnpVNCJ9
        image: cloudflare/cloudflared:latest
        livenessProbe:
          failureThreshold: 1
          httpGet:
            path: /ready
            port: 2000
          initialDelaySeconds: 10
          periodSeconds: 10
        name: cloudflared
        resources:
          limits:
            cpu: 100m
            memory: 128Mi
          requests:
            cpu: 50m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
      securityContext:
        fsGroup: 1001
        runAsNonRoot: true
        runAsUser: 1001
