apiVersion: apps/v1
kind: Deployment
metadata:
  name: localstack
  namespace: localstack
  labels:
    app: localstack
spec:
  replicas: 1
  selector:
    matchLabels:
      app: localstack
  template:
    metadata:
      labels:
        app: localstack
    spec:
      containers:
      - name: localstack
        image: localstack/localstack:latest
        ports:
        - containerPort: 4566
          name: edge
          protocol: TCP
        - containerPort: 4571
          name: elasticsearch
          protocol: TCP
        env:
        - name: SERVICES
          value: "s3,dynamodb,sqs"
        - name: DEBUG
          value: "0"
        - name: PERSISTENCE
          value: "0"
        - name: HOSTNAME_EXTERNAL
          value: "localstack.localstack.svc.cluster.local"
        - name: EAGER_SERVICE_LOADING
          value: "1"
        resources:
          requests:
            cpu: 500m
            memory: 1Gi
          limits:
            cpu: 2000m
            memory: 2Gi
